<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">DWWM25</span>
        <a class="navbar-brand" href="{{ path('home') }}">Accueil</a>
        <a class="navbar-brand" href="{{ path('register') }}">Inscription</a>
    </div>
</nav>
